.App {
  text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    background-color: rgb(236, 236, 236);
}

nav ul{
display: flex;
list-style: none;
}

nav ul li{
 margin: 0 .5rem;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: orange;
}

.image_404{
    padding-top: 2rem;
    max-width: 100%;
    width: 600px;
}
.not-round{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav h3{
    font-weight: normal;
}

.container{
    height: 100vh;
    display: flex;
    width: 100%;
    background-image: url('/src/images/image.jpeg');
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.container::before{
    content: '';
    width: inherit;
    position: absolute;
    height: inherit;
    background-image: linear-gradient(-55deg , rgba(219, 25, 18, 0.356), rgba(11, 44, 114, 0.432));
}

h1{
    z-index: 100;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(224, 223, 222);
}
.type{
    z-index: 100;
    color: rgb(233, 233, 233);
    font-size: 1.5rem;
    font-weight: 100;
}


.btn{
    margin-top: 1.5rem;
    padding: 1rem 3rem;
    background-color: rgb(230, 157, 131);
    border-radius: .6rem;
    border:none;
}